<div class="container">
    <div class="p-3 bg-white rounded shadow-sm">
        <div class="card-header d-flex p-3 my-3 text-white bg-dark rounded shadow-sm">
            <h4 class="title mt-3 mx-auto"><span class="fas fa-search"></span> Detalle Persona</h4>
            <p></p>            
        </div>
            <div class="card-body">
                <h4 class="body mt-3 mx-auto"> Identificacion: <span>{{persona.idPerson}}</span></h4>
                <h4 class="body mt-3 mx-auto"> Nombres: <span>{{persona.firstName}}</span></h4>
                <h4 class="body mt-3 mx-auto"> Apellidos: <span>{{persona.lastName}}</span></h4>
                <h4 class="body mt-3 mx-auto"> Dirección: <span>{{persona.homeAddress}}</span></h4>
                <h4 class="body mt-3 mx-auto"> Correo Electrónico: <span>{{persona.email}}</span></h4>
                <h4 class="body mt-3 mx-auto"> Salario: <span>{{persona.baseSalary}}</span></h4>
                <h4 class="body mt-3 mx-auto"> Fecha Ingreso: <span>{{persona.attachmentDate}}</span></h4>
                <h4 class="body mt-3 mx-auto"> Dependencia: <span>{{persona.dependency}}</span></h4>
                <h4 class="body mt-3 mx-auto"> Oficina: <span>{{persona.office}}</span></h4>
                <h4 class="body mt-3 mx-auto"> Rol: <span>{{persona.role}}</span></h4>
            </div>
    </div>
</div>

